.pagination-div {
  display: flex;
  margin: 2rem 0rem 3rem 0rem;
  justify-content: center;
  align-items: center;
}
  
  [data-theme="dark"] {
    .pagination-div { background-color: #000;
     color: #fff;
    }
   }
   [data-theme="light"] {
     .pagination-div{
     background-color: #f5f5f5;
     color: #000;
     }
   }